{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>TCK - Home</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="{% static 'assets/img/favicon.png' %}" rel="icon">
<link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- tcklk CSS Files -->
<link href="{% static 'assets/tcklk/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/tcklk/icofont/icofont.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/tcklk/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/tcklk/venobox/venobox.css' %}" rel="stylesheet">
<link href="{% static 'assets/tcklk/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/tcklk/aos/aos.css' %}" rel="stylesheet">

<!-- Main CSS -->
<link href="{% static 'assets/css/stylesheet.css' %}" rel="stylesheet">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Play:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap" rel="stylesheet">
</head>



<body>

<!-- ======= Hero Section ======= -->
<section id="hero">
<div class="alert-success text-center row-cols-1 border-info">
          {% if messages %}

          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>
  <div class="hero-container"> <a href="{% url 'homeUrl' %}" class="hero-logo" data-aos="zoom-in"><img src="{% static 'assets/img/TCK_white.svg' %}" alt="" id="mainlogo"></a> <br>

    <h1 data-aos="zoom-in" id="mainwelcome1">Welcome To TCK</h1>
    <h3 data-aos="fade-up" id="mainwelcome2">Redefining Intensions</h3>

    </div>

<!-- End Hero -->
<div id="tsparticles"></div>
    </section>








<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container">

    <!-- Mobile Only Logo and nav -->
    <div class="logo d-block d-lg-none "> <a href="{% url 'homeUrl' %}" class="navlogocolor"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"> TCK - Home </a> </div>
    <nav class="nav-menu d-none d-lg-block">
      <ul class="nav-inner">
        <li class="active"><a href="{%   url 'homeUrl' %}">Home</a></li>
        <li class="drop-down"><a>Services</a>
          <ul>
            <li><a href="{% url 'solutionsUrl' %}">TCK Solutions</a></li>
            <li><a href="{% url 'creativesUrl' %}">TCK Creatives</a></li>
            <li><a href="{% url 'estoreUrl' %}">TCK E-Store</a></li>
            <li><a href="{% url 'eventsUrl' %}">TCK Events</a></li>
          </ul>
        </li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li class="nav-logo"><a href="{% url 'homeUrl' %}"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a></li>
        <li><a href="{% url 'legalUrl' %}">Legal</a></li>
        <li><a href="{% url 'contactsUrl' %}">Contacts</a></li>
        {% if user.is_authenticated %}
        <li ><a href="{% url 'myaccountUrl' %}">My Account <span><img class="me-3 avatar" src="{{ request.user.profile.image.url }}" alt="" width="50px" height="50px"></span> </a></li>

        <li ><a href="{% url 'logoutUrl' %}">Sign Out</a></li>
          {% else %}
        <li ><a href="{% url 'loginUrl' %}">Login</a></li>
        <li ><a href="{% url 'signupUrl' %}">Signup</a></li>
        {% endif %}
      </ul>
    </nav>

    <!-- .nav-menu -->

  </div>
</header>


<!-- ======= menu Section ======= -->

<div id="mainMenu" class="mainMenuOverlay floating2">

  <div class="itemMenuBox home"><a href="{% url 'homeUrl' %}" class="itemMenu ">Home</a></div>
  <div class="itemMenuBox solutions"><a href="{% url 'solutionsUrl' %}" class="itemMenu ">Solutions</a></div>
  <div class="itemMenuBox estore"><a href="{% url 'estoreUrl' %}" class="itemMenu ">E-Store</a></div>
  <div class="itemMenuBox creatives"><a href="{% url 'creativesUrl' %}" class="itemMenu ">Creatives</a></div>
  <div class="itemMenuBox events"><a href="{% url 'eventsUrl' %}" class="itemMenu ">Events</a></div>
  <div class="itemMenuBox contact"><a href="{% url 'contactsUrl' %}" class="itemMenu ">Contact</a></div>
  <a class="toggleMenu floating"><i class="bx bx-circle" aria-hidden="true"></i></a></div>
  <!-- End menu Section -->

<!-- End Header -->






<main id="main">


  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
        <p class="para-font">We are TCK, the name of Your Trust.</p>
      </div>
      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <div class="image image-boader"> <img src="{% static 'assets/img/TCK_Black_serv.svg' %}" class="img-fluid" alt="TCK logo"> </div>
        </div>
        <div class="col-lg-6" data-aos="fade-left">
          <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
            <h3>A word about TCK.</h3>
            <br>
            <p class="font-italic"> We are TCK. Your Trusted partner in IT. We provide you the Best Customizable Digital Solutions for your countless needs from Software solutions to Event management solutions. </p>
            <p>We offer you the best Cost Effectiveness in all the Island with Innovative Creativity to offer a "Quality over Quantity" service</p>
            <p>Simply,</p>
            <ul>
              <li><i class="bx bx-check-double"></i>We are providing you with extraordinary feature rich Smart Solutions</li>
              <li><i class="bx bx-check-double"></i>Our intentions are too far beyond being an another Software company!</li>
              <li><i class="bx bx-check-double"></i>And our personalized experience is undoubtedly the best in the island.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Our Services</h2>
        <p class="para-font"> Find out what suits you in our Vast Range of Solutions</p>
      </div>
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up"> <i class="bx bx-cube-alt"></i>
            <h4>Software Solutions</h4>
            <p>Optimize your Business and Home with TCK Creative Solutions today!</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="100"> <i class="bx bx-receipt"></i>
            <h4>Business Solutions</h4>
            <p>Kikstart your Business easily with TCK Business-specific Solutions package.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200"> <i class="bx bx-images"></i>
            <h4>Creative Design Solutions</h4>
            <p>Get the most out of creative designs exclusively from TCK</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300"> <i class="bx bx-food-tag"></i>
            <h4>Event Management Solutions</h4>
            <p>Stay in ease on your special day, with TCK Events.</p>
          </div>
          <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400"> <i class="icofont-shopping-cart"></i>
            <h4>TCK E-Store</h4>
            <p>Find out the your favourite Products in Outstanding Quality.</p>
          </div>
        </div>
        <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url({% static 'assets/img/services.jpg'%});" data-aos="fade-left" data-aos-delay="100"></div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= Features Section ======= -->
  <section class="features">
    <div class="container">
      <div class="section-title">
        <h2>Our Features</h2>
        <p class="para-font">Find out why our Customers are so Fascinated about our Products.</p>
      </div>

      <div class="row" data-aos="fade-right">
        <div class="col-md-5"> <img src="{% static 'assets/img/Quality.svg' %}" class="img-fluid feature-img" alt=""> </div>
        <div class="col-md-7 pt-4">
          <h3>Highest Quality Certified.</h3>
          <br>
          <p class="font-italic"> We offer you the Highest Quality in our Industry Standards. Because we thoroughly believe that the Quality is always more Important than the quantity. </p>
        </div>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-md-5 order-1 order-md-2"> <img src="{% static 'assets/img/Recognized.svg' %}" class="img-fluid feature-img" alt=""> </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
			<h3>We are Recognized.</h3>
          <p class="font-italic">TCK is a well recognized brand in Sri Lankan IT Industry.  So your Trust can rely on our name with no offence!</p>
        </div>
      </div>

      <div class="row" data-aos="fade-right">
        <div class="col-md-5"> <img src="{% static 'assets/img/Friendly.svg' %}" class="img-fluid feature-img" alt=""> </div>
        <div class="col-md-7 pt-5">
          <h3>We are Friendly</h3>
          <p class="font-italic">We hate to talk to you in the business manner. Say anything, we'll make the best of
			  it just for you.</p>
        </div>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-md-5 order-1 order-md-2"> <img src="{% static 'assets/img/Work_On_time.svg' %}" class="img-fluid feature-img" alt=""> </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3>We work On-time</h3>
          <p class="font-italic"> We'll never waste your precious Time with postpones. It's On-Time or Never!.
				No Temporal Pincer Movements !</p>

        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p class="para-font">Find out our Legacy in Action</p>
      </div>
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".Solutions">Solutions</li>
            <li data-filter=".Creatives">Creatives</li>
            <li data-filter=".Events">Events</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        {% for item in obj %}
        <div class="col-lg-4 col-md-6 portfolio-item {{ item.sort_by }}">
          <div class="portfolio-wrap"> <img src="{{ item.image.url }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{ item.name }}</h4>
              <p>{{ item.type}}</p>
              <div class="portfolio-links"> <a href="{{ item.image.url}}" data-gall="portfolioGallery" class="venobox" title="{{ item.type}}"><i class="bx bx-plus"></i></a> <a href="" title="More Details"><i class="bx bx-link"></i></a> </div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Portfolio Section -->

  <!-- ======= Clients Section ======= -->
  <section id="clientlogos" class="clientlogos">
    <div class="section-title" data-aos="fade-up">
      <h2>Our Clients</h2>
      <p class="para-font">Experience Our Stronghold</p>
    </div>
    <div class="container" data-aos="zoom-in">
      <div class="quote-icon">  </div>
      <div class="owl-carousel testimonials-carousel">

          {% for item1 in clientlogo %}

        <div class="clientlogo-item">
          <img src="{{item1.image.url}}" class="clientlogo-img" alt="{{ item1.business_name}}">
          <h3>{{ item1.business_name}}</h3>
        </div>

        {% endfor %}


      </div>
    </div>
  </section>

  <br>

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
	  <div class="section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p class="para-font">What our Clients Say about us</p>
      </div>
    <div class="container" data-aos="zoom-in">
      <div class="quote-icon"> <i class="bx bxs-quote-right"></i> </div>
      <div class="owl-carousel testimonials-carousel">

          {% for item2 in testimonial %}
        <div class="testimonial-item">
          <p> {{ item2.message }}  </p>
          <img src="{{item2.image.url}}" class="testimonial-img" alt="{{ item2.name}}">
          <h3>{{ item2.name}}</h3>
          <h4>{{ item2.business_name}}</h4>
        </div>
          {% endfor %}


      </div>
    </div>
  </section>

  <!-- End Testimonials Section -->

	<br>


  <!-- ======= Team Section =======
  <section id="team" class="team">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Our Backbone</h2>
        <p>Find out the great minds behind this reality.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in">
            <div class="member-img"> <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              <div class="social"> <a ><i class="icofont-twitter"></i></a> <a href="https://www.facebook.com/tck.admin" target="_blank"><i class="icofont-facebook"></i></a> <a href="instagram.com/thinura_kodi" target="_blank"><i class="icofont-instagram"></i></a> <a href=""><i class="icofont-linkedin"></i></a> </div>
            </div>
            <div class="member-info">
              <h4>Thinura Kodithuwakku</h4>
              <span>Chief Executive Officer</span>
              <span><small>System Architecturer</small></span>
              <p class="teampara">With the years of working experience in IT sector , he's the Main Engine of our Great Journey.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <div class="member-img"> <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social"> <a href="https://twitter.com/pramodyalakmina" target="_blank"><i class="icofont-twitter"></i></a> <a href="https://twitter.com/pramodyalakmina" target="_blank"><i class="icofont-facebook"></i></a> <a href="https://www.instagram.com/mr._lk_/" target="_blank"><i class="icofont-instagram"></i></a> <a href="https://www.linkedin.com/in/lakmina-gamage-381107215/" target="_blank"><i class="icofont-linkedin"></i></a> </div>
            </div>
            <div class="member-info">
              <h4>Lakmina Gamage</h4>
              <span>Managing Director</span>
              <span><small>Web Applications Developer</small></span>
              <p class="teampara">He's a one with a talent to offer you desired web content in a attactive and user-friendly way.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <div class="member-img"> <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              <div class="social"> <a href="https://www.twitter.com/bimsarasankha" target="_blank"><i class="icofont-twitter"></i></a> <a href="https://www.facebook.com/sankhabimsara.ambepitiya" target="_blank"><i class="icofont-facebook"></i></a> <a href="https://www.instagram.com/thinura_kodi" target="_blank"><i class="icofont-instagram"></i></a> <a href=""><i class="icofont-linkedin"></i></a> </div>
            </div>
            <div class="member-info">
              <h4>Sankha Ambepitiya</h4>
              <span>Managing Director</span>
              <span><small>System Applications Developer</small></span>
              <p class="teampara"> His logical thinking and creative ideas are the backbone of our System Applications section.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
End Team Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Contact Us Today</h2>
        <p class="para-font">And make Your Dreams Come True</p>
      </div>
        <div class="alert-success text-center row-cols-1">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
            <div class="address"> <i class="icofont-google-map"></i>
              <h4> Our Location:</h4>
              <p>TCK Creative Solutions<br>
                Matara</p>
            </div>
            <div class="email"> <i class="icofont-envelope"></i>
              <h4>Email</h4>
              <p><a href="mailto:info@tck.lk"> info@tck.lk</a></p>
            </div>

            <div class="phone"> <i class="icofont-phone"></i>
              <h4>Talk to Us</h4>
              <a href="tel:+94 71 7661617"><p>+94 71 7661617</p></a>
               <a href="tel:+94 75 7661617"><p>+94 75 7661617</p></a>
				<a href="tel:+94 77 7661617"><p>+94 77 7661617</p></a>
               <a href="tel:+94 71 7661617"><p>+94 78 7661617</p></a>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form method="POST" role="form" class="php-email-form" data-aos="fade-left">
              {% csrf_token %}
              {{ form | crispy }}
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->

</main>
<!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6"> <a href="#header" class="scrollto footer-logo"><img src="{% static 'assets/img/tck.svg' %}" alt=""></a>
          <h3>We are TCK</h3>
          <p>Redefining intensions - Making lifestyles</p>
        </div>
      </div>
      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6">

        </div>
      </div>
      <div class="social-links"> <a href="https://www.twitter.com/bimsarasankha" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a> <a href="https://www.facebook.com/tck.creator" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a> <a href="https://www.instagram.com/tck_creative_solutions/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>  <a href="#" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a> </div>
    </div>
  </div>
  <div class="container footer-bottom clearfix">
    <div class="copyright"> &copy; Copyright 2021 <strong><span>TCK</span></strong>. <br>  All Rights Reserved. </div>

    <div class="credits">
     Proudly Designed and Maintained with Love by <a href="https://www.tck.lk" target="_blank">TCK Solutions.</a> </div>
  </div>
  <div class="copyright"> <small>TCK Logo is a registered trademark of TCK Creative Solutions</small></div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- tcklk JS Files -->
<script src="{% static 'assets/tcklk/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/tcklk/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/tcklk/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/tcklk/jquery-sticky/jquery.sticky.js' %}"></script>
<script src="{% static 'assets/tcklk/venobox/venobox.min.js' %}"></script>
<script src="{% static 'assets/tcklk/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/tcklk/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/tcklk/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/menu.js' %}"></script>

<!-- tsParticles -->
<script src="{% static 'assets/js/tsparticles.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>

</body>
</html>